body{
    background-color: black;
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
}

#header-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}